@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Standard/Heading */
html{
	background-color: #EEEFF3;
	width: 100%;
	height: 100%;	
}

body{
	width: 100%;
	height: 100%;	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Quicksand", sans-serif;
	background-color: #EEEFF3;

}

a {
	color: #2E378A;
	text-decoration: none;
}

a:hover {
	color: #97272A;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #97272A;
	text-decoration: none;
	font-weight: bold;
}

.swim-red {
	color: #97272A;
}

.swim-dark-blue {
	color: #2E378A;
}

.swim-medium-blue{
	color: #2073BB;
}

.swim-light-blue {
	color: #8EB9DD;
}

.swim-dark-gray {
	color: #2E3039;
}

.swim-light-gray {
	color: #EEEFF3;
}

/* Top Bar elements */
.topbar {
	width: 100%;
	height: 80px;
	padding-left: 60px;
	padding-right: 60px;
	background-color: #8EB9DD;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	box-shadow: 0px 1px 5px #dddddd;
}

.topbar-logo{
	width: 300px;
	height: auto;
	float: left;
	padding-top: 20px;
	font-family: "Quicksand";
	letter-spacing: 2px;
	font-size: 30px;
	text-decoration: none;
	color: #2E378A;
	font-weight: bolder;
}

.topbar-link-box {
	width: 250px;
	float: right;
	padding-top: 10px;
	padding-right: 80px;
}

.topbar-link {
	width: 120px;
	height: auto;
	overflow: auto;
	padding-top: 25px;
	text-align: center;
	display: inline;
	float: right;
	font-family: "Quicksand";
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
}

.item-container {
	margin-top: 80px;
	padding-left: 60px;
	padding-bottom: 60px;
	width: 100%;
	height: auto;
	overflow: auto;
	position: relative;
	display: block;
	padding-top: 30px;
	z-index: 9;
}

.item-container-title {
	font-family: "Quicksand";
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: #2073BB;
}


.item-box {
	width: 100%;
	max-width: 500px;
	height: auto;
	overflow: auto;
	display: block;
	border: 1px solid #BDBEBF;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	border-radius: 4px;
	background-color: white;
}

.item-line {
	width: 100%;
	display: block;
	height: auto;
	overflow: auto;
}

.item-title-text {
	text-align: left;
	max-width: 350px;
	float: left;
	font-size: 18px;
	color: #2E3039;
	font-weight: bold;
}

.item-price {
	text-align: left;
	max-width: 150px;
	float: left;
	font-size: 18px;
	margin-top: 25px;
	color: #2073BB;
}

.item-description {
	width: 350px;
	text-align: left;
	float: left;
	font-size: 14px;
	line-height: 18px;
	margin-top: 5px;
	color: #aaaaaa;
}

.item-add {
	text-align: right;
	max-width: 150px;
	float: right;
	font-size: 18px;
}

/* Cart styling */

.cart-info {
	width: 500px;
	margin-top: 50px;
	height: auto;
	overflow: auto;
}

.cart-subtitle {
	font-family: "Quicksand";
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	/*margin-bottom: 30px;*/
	color: #2E3039;
}

.cart-subtotal {
	font-size: 16px;
	margin-bottom: 5px;
}

.cart-total {
	font-size: 24px;
	margin-top: 25px;
	font-weight: bold;
}

.order-button {
	width: auto;
	min-width: 80px;
	height: auto;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #2073BB;
	border: solid 2px #2073BB;
	border-radius: 6px;
	background-color: none;
	display: inline-block;
	position: relative;
	font-size: 16px;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
}

.confirmation-subtitle {
	font-family: "Quicksand";
	font-weight: bold;
	font-size: 18px;
	display: block;
	/*margin-bottom: 30px;*/
	color: #2073BB;
}


