/* swimstyle.css - all custom css for Joe's Swim Shop */

/* Import fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Work+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@400;600;700&display=swap');

/* Standard/Heading */
html{
	background-color: white;
}

body{
	width: 100%;
	height: 100%;	
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Open Sans", sans-serif;
	background-color: white;
}

a {
	color: #2E3039;
	text-decoration: none;
}

a:hover {
	color: #2E378A;
	text-decoration: none;
	font-weight: bold;
}

a:active {
	color: #2E378A;
	text-decoration: none;
	font-weight: bold;
}

/* Color Palatte - these classes may not be used, but they help keep track of colors used in other elements */
.swim-red {
	color: #ce2029;
}

.swim-dark-blue {
	color: #2E378A;
}

.swim-medium-blue{
	color: #567CA5;
}

.swim-dark-gray {
	color: #2E3039;
}

.swim-light-gray {
	color: #EEEFF3;
}

/* All elements are designed mobile-first - large screen (tablet/desktop) styling is included below*/
/* Top Bar elements */
.topbar {
	width: 100%;
	height: 80px;
	padding-left: 15px;
	padding-right: 10px;
	background-color: #567CA5;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	box-shadow: 0px 1px 7px #2E3039;
}

.topbar-logo{
	width: auto;
	height: auto;
	float: left;
	padding-top: 28px;
	font-family: "Merriweather", serif;
	letter-spacing: 2px;
	font-size: 24px;
	text-decoration: none;
	color: #EEEFF3;
	font-weight: 900;
}

.topbar-link-box {
	width: auto;
	float: right;
	padding-top: 5px;
	padding-right: 20px;
	position:relative;
}

.topbar-link {
	width: 30px;
	height: auto;
	overflow: auto;
	padding-top: 22px;
	text-align: center;
	display: inline;
	float: right;
	font-family: "Open Sans";
	letter-spacing: 1px;
	text-transform: uppercase;
	vertical-align: middle;
}
	.topbar-link-text {
		width: 35px;
		font-size: 20px;
	}
	.topbar-link-text:hover {
		color: #2E378A;
		font-weight: bold;
	}

/* This is the core container used by most views. */
.item-container {
	margin-top: 80px;
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 30px;
	width: auto;
	height: auto;
	/*overflow: auto;*/
	position: absolute;
	/*display: block;*/
	padding-top: 30px;
	z-index: 9;
}

.item-container-title {
	font-family: "Open Sans";
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	color: #567CA5;
}

/* Styling for common item-box elements */
.item-box {
	width: 310px;
	height: auto;
	overflow: auto;
	display: block;
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0px 1px 5px #dddddd;
}

.item-box:hover {
	box-shadow: 0px 1px 5px #567CA5;
}

.item-box-left {
	width: 250px;
	height: auto;
	float: left;
}

.item-box-right {
	width: 50px;
	height: auto;
	float: right;
	margin: 0;
	margin-left: 260px;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.item-line {
	width: 100%;
	display: block;
	height: auto;
	overflow: auto;
}

.item-title-text {
	text-align: left;
	width: 100%;
	float: left;
	font-size: 16px;
	color: #2E3039;
	font-weight: 600;
}

.item-price {
	text-align: left;
	max-width: 150px;
	float: left;
	font-size: 18px;
	margin-top: 25px;
	color: #567CA5;
}

.item-description {
	width: 100%;
	text-align: left;
	float: left;
	font-size: 13px;
	line-height: 18px;
	margin-top: 5px;
	color: #999999;
}

.item-add {
	text-align: right;
	width: auto;
	float: right;
	font-size: 18px;
}

/* Cart icon */
.cart-icon {
	padding: 5px;
	border: solid #dddddd 1px;
	box-shadow: 0px 1px 1px #aaaaaa;
	border-radius: 3px;
}

.cart-icon:hover {
	color: #567CA5;
	border: solid #567CA5 1px;
	box-shadow: 0px 1px 1px #567CA5;
}

.cart-icon:active {
	/* Turn cart icon green when clicked */
	color: #4BB543;
	border: solid #4BB543 2px;
	box-shadow: 0px 1px 1px #4BB543;
}

.cart-icon-top {
	padding: 0px;
	border: none;
	box-shadow: none;
}

/* Cart styling */
.cart-box-icon {

}

.cart-box-icon:hover {
	box-shadow: 0px 1px 5px #ce2029;
	border: solid 1px #ce2029;
}

.cart-box-icon:active {
	box-shadow: 0px 1px 5px #ce2029;
	border: solid 2px #ce2029;
}

.cart-box {
	
}

.cart-box:hover {
	box-shadow: 0px 1px 5px #aaaaaa;
}

.cart-info {
	width: auto;
	margin-top: 50px;
	height: auto;
	overflow: auto;
}

.cart-subtitle {
	font-family: "Open Sans";
	font-size: 18px;
	text-transform: uppercase;
	display: block;
	/*margin-bottom: 30px;*/
	color: #2E3039;
}

.cart-subtotal {
	font-size: 16px;
	margin-bottom: 5px;
}

.cart-total {
	font-size: 24px;
	margin-top: 25px;
	font-weight: 700;
}

/* Button for continue to payment */
.order-button {
	width: auto;
	min-width: 80px;
	height: auto;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #567CA5;
	border: solid 2px #567CA5;
	border-radius: 6px;
	background-color: none;
	display: inline-block;
	position: relative;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}

.order-button:hover {
	border: solid 4px #567CA5;
}

.order-button:active {
	border: solid 4px #4BB543;
}

/* Checkout styling */
.checkout-box{
	margin-top: 80px;
	padding-top: 40px;
	padding-left: 10px;
	display: block;
	width: 100%;
}

.checkout-title {
	font-family: "Open Sans";
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
	color: #567CA5;
}

.checkout-info {
	width: 350px;
	font-family: "Open Sans";
	font-size: 16px;
	color: #2E3039;
	margin-bottom: 80px;
}

/* Confirmation styling */
.confirmation-line {
	display: block;
	width: 100%;
	padding-top: 10px;
}

.confirmation-subtitle {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 18px;
	display: inline-block;
	width: 100%;
	color: #567CA5;
	text-align: left;
	padding-top: 10px;
}

.confirmation-text {
	width: 100%;
	display: inline-block;
	text-align: left;
	padding-top: 5px;
}

.confirmation-items {
	width: 100%;
	display: inline-block;
	text-align: left;
	padding-top: 5px;
}

.confirmation-description {
	width: 100%;
	display: inline-block;
	text-align: left;
	padding-bottom: 10px;
}


/* Responsive CSS design for larger screens (defaults above are mobile-first) */
@media (min-width: 700px)  { 
	.topbar {
		padding-left: 60px;
		padding-right: 60px;
	}

	.topbar-logo{
		width: 300px;
		padding-top: 20px;
		letter-spacing: 2px;
		font-size: 30px;
	}

	.topbar-link-box {
		padding-right: 100px;
	}

	.item-container {
		padding-left: 60px;
		padding-bottom: 60px;
		width: 650px;
		padding-top: 30px;
		z-index: 9;
	}

	.item-container-title {
		font-size: 24px;
	}

	.item-box {
		width: 500px;
		height: auto;
		display: block;
	}

	.item-box-left {
		width: 450px;
		height: auto;
		float: left;
	}

	.item-box-right {
		width: 50px;
		height: auto;
		float: right;
		margin: 0;
		margin-left: 450px;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.item-line {
		width: 100%;
		display: block;
		height: auto;
		overflow: auto;
	}

	.item-title-text {
		text-align: left;
		width: 100%;
		float: left;
		font-size: 18px;
		color: #2E3039;
		font-weight: 700;
	}

	.item-price {
		text-align: left;
		max-width: 150px;
		float: left;
		font-size: 18px;
		margin-top: 25px;
		color: #567CA5;
	}

	.item-description {
		width: 100%;
		text-align: left;
		float: left;
		font-size: 14px;
		line-height: 18px;
		margin-top: 5px;
		color: #aaaaaa;
	}

	.item-add {
		text-align: right;
		width: auto;
		float: right;
		font-size: 18px;
	}

	.checkout-box{
		padding-left: 60px;
	}

	.confirmation-subtitle {
		width: 300px;
		text-align: left;
		padding-top: 5px;
	}

	.confirmation-text {
		width: 300px;
		text-align: right;
		padding-top: 5px;
	}

	.confirmation-items {
		width: 600px;
		text-align: right;
		padding-top: 5px;
	}


}

