<!-- Top bar - common across all pages. View below. -->
<div class="topbar" id="topbar">
  <div class="topbar-logo"><a href="./#/order">Joe's Swim Shop</a></div>

  <div class="topbar-link-box">
    <div class="topbar-link topbar-link-text" ng-click="changePage('cart')" style="cursor:pointer;">({{cart.itemCount}})</div>
    <div class="topbar-link" ng-click="changePage('cart')" style="cursor:pointer;"><img src="./img/shopping_cart.svg" class="cart-icon-top" width="30px"></div>
  </div>
</div>

<!-- Dynamic views for single page app, supports URL routing -->
<div ng-if="page=='home'">
  <div ng-include="'./pages/order.html'"></div>
</div>

<div ng-if="page=='order'">
  <div ng-include="'./pages/order.html'"></div>
</div>

<div ng-if="page=='cart'">
  <div ng-include="'./pages/cart.html'"></div>
</div>

<div ng-if="page=='payment'">
  <div ng-include="'./pages/payment.html'"></div>
</div>

<div ng-if="page=='confirmation'">
  <div ng-include="'./pages/confirmation.html'"></div>
</div>

